<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> 
    {% block stylesheets %}{% endblock %}
      <link href="../../dist/css/animate.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../dist/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="../../dist/js/jquery-3.2.1.min.js"></script>
  </head>

  <body> 
  <div class="container-fluid">  
    <nav class="navbar">
      <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="{{ path('homepage') }}">Bizzat-i Kendisi</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('homepage') }}">ANA SAYFA</a></li>
            <li><a href="{{ path('bizzatikendisi_hakkimda') }}">HAKKIMDA</a></li>
            <li><a href="{{ path('bizzatikendisi_yazilarim') }}">YAZILARIM</a></li>
            <li><a href="{{ path('bizzatikendisi_iletisim') }}">İLETİŞİM</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><img src="../../dist/images/facebook.png" /></a></li>
            <li><a href="#"><img src="../../dist/images/instagram.png" /></a></li>
            <li><a href="#"><img src="../../dist/images/twitter.png" /></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
        <div class="container container-app">
            {% block body %}{% endblock %}
        </div>

      <script type="text/javascript" src="../../dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../../dist/js/script.js"></script>
      <script type="text/javascript" src="../../dist/js/jquery.scrollless.js"></script>
    </div>
  </div><!-- /.container -->
    {% block javascripts %}{% endblock %}

  </body>
</html>

